.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
media/convert.html
media/icon.svg
node_modules/**
!node_modules/@excalidraw/excalidraw/dist/excalidraw.production.min.js
!node_modules/react/umd/react.production.min.js
!node_modules/react-dom/umd/react-dom.production.min.js
**/*.vsix 